<link rel="stylesheet" href="css/footer.css">



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="/scripts/menuToggle.js"></script>
<script src="/scripts/slider.js"></script>
<script src="/scripts/darckTheme.js"></script>
<script src="/scripts/funciones.js"></script>

<footer class="footer"> 
    <h2>Seguinos</h2>
    <div class="footer-contact">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
    <div class="footer-info">
        <a href="#">Términos y condiciones</a>
        <a href="#">Politica de promociones</a>
        <a href="#">Envíos SomeDay</a>
        <a href="#">Defensa al consumidor</a>
        <a href="#">Politica de privacidad</a>
    </div>
    <h3>Desing By <a href="#" class="julian">Julian Alamada</a>. ®</h3>
</footer>

</body>

</html>