<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Julian</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="home.css">
<link rel="stylesheet" href="footer.css">
</head>
<body>


<header>
    <div class="header-content">
        <a href="/" class="logo"><img src="img/pngwing.com.png" alt="logo"></a>
        
        <div class="navigation">
            <div class="userBx">
                <div class="imgBx">
                    <img src="img/Messi.jpg" alt="foto">
                </div>
                <p class="user-name">Lionel Messi</p>
            </div>
            <div class="bars__menu">
                <span class="line1__bar"></span>
                <span class="line2__bar"></span>
                <span class="line3__bar"></span>
              </div>
              <ul class="menu">
                <li><a href="/"><ion-icon name="home-outline"></ion-icon>Home</a></li>
                <li><a href="../about"><ion-icon name="information-circle-outline"></ion-icon>About</a></li>
                <li><a href="../contact"><ion-icon name="mail-outline"></ion-icon>Contact</a></li>
                <li><a href=""><ion-icon name="person-outline"></ion-icon>Acount</a></li>
                <li><a href="../logIn"><ion-icon name="log-out-outline"></ion-icon>Log In</a></li>
                
              </ul>
        </div>
    </div>
    <div class="degradado">
        vacio
    </div>

    
    
</header>



