<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP Julian</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">   
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/logIn.css">
<link rel="stylesheet" href="css/medias.css">


</head>
<body>


<header>
    <div class="header-content">
        <a href="/" class="logo">
            <div id="logo">
                <h2 class="the">The</h2>
                <h1 class="clothing">Clothing</h1>
                <h3 class="store">store</h3>
            </div>
        </a>
        
        <nav class="navigation">
            <div class="userBx">
                <div class="imgBx">
                    <img src="img/Messi.jpg" alt="foto">
                </div>
                <p class="user-name">Lionel Messi</p>
            </div>
            <div class="bars__menu">
                <span class="line1__bar"></span>
                <span class="line2__bar"></span>
                <span class="line3__bar"></span>
              </div>
              <ul class="menu">
                <li><a href="/"><ion-icon name="home-outline"></ion-icon>Inicio</a></li>
                <li><a href="../about"><ion-icon name="information-circle-outline"></ion-icon>Nosotros</a></li>
                
                <li><a href="../productos"><ion-icon name="shirt-outline"></ion-icon>Productos</a></li>

                <li><a href="../contact"><ion-icon name="mail-outline"></ion-icon>Contacto</a></li>
                <li><a href=""><ion-icon name="person-outline"></ion-icon>Cuenta</a></li>
                <li><a href="../logIn"><ion-icon name="log-in-outline"></ion-icon>Ingresar</a></li>
                <li><a href="../carrito"><ion-icon name="cart-outline"></ion-icon>Carrito<span id="numerito" class="numerito"></span></a></li>
                <li><a href="#" class="theme"><ion-icon name="contrast-outline"></ion-icon>Tema</a></li>
              </ul>
        </nav>
    </div>

    <div class="header-pantalla-grande">
        <a href="/" class="logo">
            <div id="logo">
                <h2 class="the">The</h2>
                <h1 class="clothing">Clothing</h1>
                <h3 class="store">store</h3>
            </div>
        </a>

        <nav class="menu-nav">
            <a href="/"><ion-icon name="home-outline"></ion-icon>Inicio</a>
            <a href="../about"><ion-icon name="information-circle-outline"></ion-icon>Nosotros</a>
            <a href="../productos"><ion-icon name="shirt-outline"></ion-icon>Productos</a>
            <a href="../contact"><ion-icon name="mail-outline"></ion-icon>Contacto</a>
            <a href=""><ion-icon name="person-outline"></ion-icon>Cuenta</a>
            <a href="../logIn"><ion-icon name="log-in-outline"></ion-icon>Ingresar</a>
            <a href="../carrito"><ion-icon name="cart-outline"></ion-icon>Carrito<span id="numerito" class="numerito">
            <a href="#" class="theme2"><ion-icon name="contrast-outline"></ion-icon>Tema</a>
        </nav>

    </div>
    
    
</header>