<link rel="stylesheet" href="css/carrito.css">

<%- include("partials/header") %>

<section class="carrito">
    <div class="producto">
        <img src="" alt="imagen">

        <div class="detalle-producto">
            <h3>Nombre y detalle del producto.</h3>
            <div class="precio-opcional">
                <input type="text">
                <h2>$0.000,00</h2>
                <button class="delete"><ion-icon name="trash-outline"></ion-icon></button>
            </div>
        </div>
    </div>

    <div class="producto">
        <img src="" alt="imagen">

        <div class="detalle-producto">
            <h3>Nombre y detalle del producto.</h3>
            <div class="precio-opcional">
                <input type="text">
                <h2>$0.000,00</h2>
                <button class="delete"><ion-icon name="trash-outline"></ion-icon></button>
            </div>
        </div>
    </div>

    <div class="producto">
        <img src="" alt="imagen">

        <div class="detalle-producto">
            <h3>Nombre y detalle del producto.</h3>
            <div class="precio-opcional">
                <input type="text">
                <h2>$0.000,00</h2>
                <button class="delete"><ion-icon name="trash-outline"></ion-icon></button>
            </div>
        </div>
    </div>

    <div class="compra">
        <h3>Envio: Dirección del comprador.</h3>
        <h4>Dato adicional del comprador</h4>
        <div class="precio">
            <h2>Total con envío:</h2>
            <h2>$0.000,00</h2>
        </div>
        <button>Continuar compra</button>
    </div>
</section>

<%- include("partials/footer") -%>