<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="css/carrito.css">

<%- include("partials/header") %>

<section class="carrito">
    <div class="contenedor-carrito">
        <h2>Tu carrito de compras</h2>
        <p class="carrito-vacio" id="carrito-vacio">Tu carrito está vacío. <ion-icon name="sad-outline"></ion-icon></p>

    <div class="carrito-productos disabled" id="carrito-productos">
        <!--SE COMPLETA CON JS-->
    </div>

    <div class="compra disabled" id="compra">
        <h3>Envio: Dirección del comprador.</h3>
        <h4>Dato adicional del comprador</h4>
        <div class="precio">
            <h2>Total con envío:</h2>
            <h2 id="total"></h2>
        </div>
        <button class="comprar-carrito" id="comprar-carrito">Continuar compra</button>
        <button class="vaciar-carrito" id="vaciar-carrito">Vaciar carrito</button>
    </div>
    </div>
    <p class="carrito-comprado disabled" id="carrito-comprado">Gracias por tu compra! <ion-icon name="happy-outline"></ion-icon></p>
    
</section>

<%- include("partials/footer") -%>