<link rel="stylesheet" href="css/home.css">



<%- include("partials/header") %>

<section class="cover">
  <!--
    <div class="home-image">
    <img src="img/Bon.jpg" alt="foto" />
    <div class="tex-image1">
      <h2>Somos hombres conscientes de la moda.</h2>
    </div>
    <div class="tex-image2">
      <h2>Somos hombres que no le tenemos miedo.</h2>
    </div>
  </div>
-->
<div class="slider">
  <div class="slides-container">

    <div class="slide" id="slide1"></div>
    <div class="slide" id="slide2"></div>
    <div class="slide" id="slide3"></div>
    <div class="slide" id="slide4"></div>
  </div>
</div>
<div class="marquesina">
  <h2 class="texto-marquesina">COMPRA AHORA! <span>COMPRA AHORA! </span>COMPRA AHORA! <span>COMPRA AHORA! </span>
    COMPRA AHORA! <span>COMPRA AHORA! </span>COMPRA AHORA! <span>COMPRA AHORA! </span>
    COMPRA AHORA! <span>COMPRA AHORA! </span>COMPRA AHORA! <span>COMPRA AHORA! </span></h2>

  
</div>


</section>

<section class="cover-info">
  <div class="info">
    <span class="material-symbols-outlined"> local_shipping </span>
    <div class="text">
      <h3>ENVÍO GRATIS A TODO EL PAIS</h3>
      <p>Para compras superiores a $20.000.</p>
    </div>
  </div>
  <div class="info alverre">
    <div class="tex">
      <h3>3, 6 Y 12 CUOTAS SIN INTERES</h3>
      <p>Con Visa, Master, Amex y Cabal.</p>
    </div>
    <span class="material-symbols-outlined"> credit_card </span>
  </div>
  <div class="info">
    <span class="material-symbols-outlined"> store </span>
    <div class="text">
      <h3>PICK-UP STORES</h3>
      <p>Retira gratis en sucursales adheridas.</p>
    </div>
  </div>
  <div class="info alverre">
    <div class="text">
      <h3>CAMBIOS Y DEVULOCIONES</h3>
      <p>Primera devolucion sin cargo.</p>
    </div>
    <span class="material-symbols-outlined"> settings_backup_restore </span>
  </div>
</section>




<%- include("partials/footer") -%>
