
    <%- include("partials/header") %>

    <section>
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, aperiam blanditiis. Dignissimos dolorum, temporibus modi nemo commodi itaque alias exercitationem sapiente qui quasi rem velit error distinctio aspernatur reprehenderit quo!</p>
    </section>

    <%- include("partials/footer") -%>
