<link rel="stylesheet" href="css/productos.css">

<%- include("partials/header") %>

    <section>

        <div class="categorias">
            <h3><ion-icon name="add-circle-outline"></ion-icon>Categorias</h3>
            <ul class="categorias-lista">
                <li><a href="#" id="todos" class="boton-categoria">Todos los productos</a></li>
                <li><a href="#" id="camperas" class="boton-categoria">Camperas</a></li>
                <li><a href="#" id="buzos" class="boton-categoria">Buzos</a></li>
                <li><a href="#" id="remeras" class="boton-categoria">Remeras</a></li>
                <li><a href="#" id="pantalones" class="boton-categoria">Pantalones</a></li>
                <li><a href="#" id="zapatillas" class="boton-categoria">Zapatillas</a></li>
                <li><a href="#" id="gorras" class="boton-categoria">Gorras</a></li>
            </ul>
        </div>



        <!--<div class="todos-productos" id="contenedor-productos">
            
        </div>-->
    </section>


    <%- include("partials/footer") -%>