<link rel="stylesheet" href="css/productDetail.css">

<%- include("partials/header") %>

<section class="productDetail">
    <div class="product-img">
        <img class="img-principal" src="" alt="imagen del producto">
        <div class="product-img-s">
            <img src="" alt="img1">
            <img src="" alt="img2">
            <img src="" alt="img3">
        </div>
    </div>
    <div class="product-detail">
        <h3>Nombre del producto y descripción breve.</h3>
        <h2>$ 0.000,00</h2>

        <div class="opcional">
            <label for="detalle1">Detalle</label>
            <input type="text" name="detalle1">
        </div>

        <div class="opcional">
            <label for="detalle2">Detalle</label>
            <input type="text" name="detalle2">
        </div>

        <button class="product-btn">Añadir al carrito</button>
        <button class="product-btn">Comprar ahora</button>

        <p>Descripción completa del producto e informacion adicional.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ratione necessitatibus natus veritatis similique unde id reprehenderit maxime repellat! Illum veniam cupiditate quidem, iure aspernatur quasi laudantium qui minus mollitia.
        </p>
    </div>
</section>


<%- include("partials/footer") -%>