:root {
    /*ligth*/
    --verde: #0c443a;
    --celeste: #25d1b2;
    --degradado2: linear-gradient(90deg, var(--celeste), var(--verde));
    --gris: rgb(240, 237, 237);
    --gris1: rgba(240, 237, 237, 0.767);
    --gris2: rgba(207, 205, 205, 0.849);
    --degradado: linear-gradient(180deg, var(--gris), rgba(218, 217, 217, 0));
    /*nigth*/
    --negro: rgb(20, 20, 20);
    --negro1: rgba(20, 20, 20, 0.863);
    --degradado2: --degradado: linear-gradient(180deg, var(--negro), rgba(218, 217, 217, 0));
    --gris3: rgba(24, 24, 24, 0.966);
}


header {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    padding-right: 40px;
    background: var(--gris);
    padding-top: 10px;
    transition: .5s;
}

.darck-theme header {
    background: var(--negro);
}

.header-content {
    top: 0;
    display: flex;
    height: 52px;
    justify-content: space-between;
    background: var(--gris);
    transition: .5s;
}

.logo {
    width: 60px;
    height: 40px;
    color: black;
    display: flex;
    transition: 2.5s;
}

.logo .the {
    position: absolute;
    font-size: 16px;
    padding: 0;
    margin: 0;
    left: 13.5px;
    top: 0;
}

.logo .clothing {
    position: absolute;
    font-size: 20px;
    top: 11px;
    padding: 0;
    margin: 0;
}

.logo .store{
    position: absolute;
    font-size: 15px;
    top: 7px;
    left: 35px;
}




/*--------NAVEGACION DESPLEGABLE--------*/


.navigation {
    position: relative;
    top: -10px;
    width: 120px;
    height: 60px;
    background: var(--gris);
    display: flex;
    justify-content: space-between;
    transition: .5s;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.active__navigation {
    width: 300px;
    height: 460px;
    z-index: 2000;
    background: var(--gris2);
}

.navigation-mas-grande {
    height: 670px;
}

.navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    transition-delay: .35s;
    overflow: hidden;
}

.active__navigation .userBx {
    width: 240px;
}

.navigation .userBx .imgBx {
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    overflow: hidden;
    transition: .5s;
    transition-delay: .8s;
    transition-delay: .35s;
    margin-left: 10px;
    border: solid var(--gris) 1.5px;
    box-shadow: 0 0 0 2px var(--verde);
    left: 5px;

}


.navigation .userBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation .userBx p {
    position: relative;
    white-space: nowrap;
    color: black;
    text-decoration: underline var(--verde);
    font-size: 1.4em;
    margin-left: 63px;
    transition: .5s;
}

.darck-theme .navigation .userBx p {
    text-decoration: underline var(--celeste);
}



/*--------BOTON DE MENU--------*/

.bars__menu {
    width: 60px;
    height: 60px;
    padding: 15px;
    cursor: pointer;
    position: relative;  
    transition: .8s;
    transition-delay: .35s;
    right: -10px;
}


.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--verde);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
    border-radius: 50px;
    
}

.activeline1__bar {
    transform: rotate(45deg) translate(-2px);
}

.activeline2__bar {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bar {
    transform: rotate(-45deg) translate(-1px);
}

/*--------MENU--------*/

.menu {
    position: absolute;
    width: 240px;
    height: calc(100% -60px);
    margin-top: 60px;
    padding: 15px;
    align-items: center;
}

.menu li {
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.menu li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
    color: black;
    transition: .5s;
}

.menu li a ion-icon {
    color: var(--verde);
}

.darck-theme .menu li a ion-icon {
    color: var(--celeste);
}



/*-------------- BOTON DE CATEGORIAS --------------*/

.categorias {
    position: relative;
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    overflow: hidden;
}

.categorias-activo {
    height: 280px;
    
}

.categorias .categorias-lista {
    border-left: solid 1px var(--celeste);
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
    transition: .5s;
}

.categorias .categorias-lista li {
    margin: 0;
}

.categorias .categorias-lista li a {
    font-size: 18px;
    padding: 5px 5px;
}

.categoria-elegida {
    text-decoration: underline;
}


/*-------------- TEMA OSCURO/CLARO----------------*/


.theme{
    cursor: pointer;
}

.darck-theme .header-content {
    background: var(--negro);
}

.darck-theme .header-content .navigation {
    background: var(--negro);
}

.darck-theme .header-content .active__navigation {
    background: var(--gris3);
}

.darck-theme .userBx p {
    color: white;
}

.darck-theme .bars__menu span {
    background: white;
}

.darck-theme .menu li a {
    color: white;
}

.darck-theme .userBx .imgBx {
    border: solid var(--negro) 1.5px;
    box-shadow: 0 0 0 2px var(--celeste);
}

.darck-theme .logo {
    color: white;
}

.header-pantalla-grande {
    display: none;
}