:root {
    /*ligth*/
    --gris: rgb(240, 237, 237);
    --gris2: rgba(201, 195, 195, 0.863);
    --degradado: linear-gradient(180deg, var(--gris), rgba(218, 217, 217, 0));
    --verde: #0c443a;
    --celeste: #25d1b2;
    --degradado2: linear-gradient(90deg, var(--celeste), var(--verde));
    /*nigth*/
    --negro: rgb(20, 20, 20);
}

.section-productos{
    margin-top: 45px;
}

.categorias-nav{
    flex-direction: colum;
    transition: .5s;
    width: 55%;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.active-categorias {
    height: 250px;
    z-index: 1000;
}

.categorias-nav h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: underline var(--verde);
}

.categorias-nav .categorias-lista {
    border-left: solid 1px var(--celeste);
    margin-left: 10px;
    margin-top: 8px;
    padding-left: 20px;
    position: relative;
    transition: .5s;
}

.categorias-nav .categorias-lista li {
    list-style: none;
    margin: 2px 0;
    padding: 2px 0;
}

.categorias-nav .categorias-lista li .boton-categoria {
    width: 100%;
    padding: 2px 0;
    margin: 5px 0;
}

/*-----------------PRODUCTOS-----------------*/

.todos-productos {


}

.contenedor-productos{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    gap: 5px;
    background: rgba(247, 253, 253, 0);
}

.producto-producto{
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--gris), #25d1b227);
    border-radius: 15px;
    padding: 1px;
    width: 49%;
    height: 300px;
    max-height: 380px;
    cursor: pointer;
    justify-content: space-between;
    border: var(--gris) solid 1px;
}

.producto-producto:hover {
    border: #25d1b2 solid 1px;
}

.producto-imagen {
    border-radius: 5px;
}

.producto-imagen img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
}

.nombre-producto {
    font-size: 18px;
    margin: 0;
}

.precio-producto {
    font-size: 20px;
    margin: 0;
}


.categoria-elegida {
    text-decoration: underline var(--celeste);
}

.darck-theme .producto-producto {
    background: linear-gradient(var(--negro), #172b273a);
}