@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

:root {
    /*ligth*/
    --gris: rgb(240, 237, 237);
    --gris2: rgba(201, 195, 195, 0.863);
    --degradado: linear-gradient(180deg, var(--gris), rgba(218, 217, 217, 0));
    --verde: #0c443a;
    --celeste: #25d1b2;
    --degradado2: linear-gradient(90deg, var(--celeste), var(--verde));
    /*nigth*/
    --negro: rgb(20, 20, 20);
}

html{
    font-size: 90%;
    overflow-x: hidden;
    background: var(--gris);
}

body{
    background: var(--gris);
    padding-top: 0;
    transition: .5s;
    margin-bottom: 277px;
    padding: 20px;
}

.darck-theme body {
    background: var(--negro);
}

section {
    background: var(--gris);
    margin-top: 90px;
    transition: .5s;
}

.darck-theme {
    background: var(--negro);
    color: white;
}

.darck-theme section {
    background: var(--negro);
}

button {
    cursor: pointer;
    color: black;
    transition: .5s;
    font-size: 20px;
    margin: 10px 0;
    border: solid 1.5px var(--verde);
    padding: 5px;
    border-radius: 10px;
}

input {
    cursor: pointer;
    transition: .5s;
}

.darck-theme  input {
    background: rgb(20, 20, 20);
    color: white;
}

.darck-theme button {
    color: white;
    background: rgb(20, 20, 20);
    border: solid 1px var(--verde);
}

.darck-theme a {
    color: white;
}
/* tengo que poner algo para pushear y que git me marque en verde que estuve trabajando */